<style>
  .search-btn{
    background-color: red;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: rgb(220, 8, 8);
    color: white;
  }
  .search-btn i{
    display: inline;
    margin-right: 0.6rem;
  }
  .search-in{
    border-radius: 25px;
  }

</style>

<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listing">Little House</a>
      </div>
      <div class="navbar-nav ms-auto">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-in" type="search" placeholder="Search" aria-label="Search">
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listing/new">Create Listings</a>
        <% if(!currUser){ %>
          <a class="nav-link" href="/signup">Signup</a>
          <a class="nav-link" href="/Login">Login</a>
        <% } %>
        <% if(currUser){ %>
          <b><span class="nav-link"><%= currUser.username %></span></b>
          <a class="nav-link" href="/Logout">Logout</a>
       <% } %>
        
      </div>
    </div>
  </div>
</nav>