<% layout("/layout/layouts.ejs") %>
<body>
    <div class="row"> 
        <div class="col-8 offset-2">
            <h2>Create List</h2>
            <form method="post" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" placeholder="Enter your Title" name="list[title]"  class="form-control">
                    <div class="invalid-feedback">
                        Please Enter Valid Title.
                      </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" placeholder="Enter your Description" name="list[description]" required class="form-control">
                    <div class="invalid-feedback">
                        Please Enter Valid Description.
                      </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="file" placeholder="Enter your Image URL" name="list[image]" class="form-control" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" placeholder="Enter your Prices" name="list[price]" required class="form-control">
                        <div class="invalid-feedback">
                            Please Enter Valid Price.
                          </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" placeholder="Enter your Location" name="list[location]" required class="form-control">
                        <div class="invalid-feedback">
                            Please Enter Valid Location.
                          </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" placeholder="Enter your Country" value="Bhart" name="list[country]" required class="form-control">
                    <div class="invalid-feedback">
                        Please Enter Valid Country.
                      </div>
                </div>
                <br>
                <div class="row">
                    <button class="btn btn-dark col-md">Sumbit</button>
                </div>
                <br>
            </form>
        </div>   
</div>

    <br>
</body>