/* .navbar{
    height: 100%;
} */

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;   
}

.fa-compass{
    color: rgb(250, 59, 59);
    font-size: 2rem;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links , .f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i {
    margin-right: 1.2rem;
    font-size: 1.3rem;
    vertical-align: middle;

}

.f-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    

}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.card-text{
    font-weight: 600;
}

.listing{
    text-decoration: none;
}

.btns{
    display: flex;
    flex-direction: row;
}


.red:hover{
    background-color: rgb(247, 63, 63);
    border: 1px solid rgb(247, 63, 63);
}

.rating-text{
    color: rgb(240, 173, 18);
}

.fa-circle-user{
    color: rgb(173, 173, 173);
    font-size: 23px;
}

/* map */

#map { height: 29rem; width: 91vh; }


#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
}
a{
    color: gray;
    text-decoration: none;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
}
.filter p {
    font-size: 0.8rem;
}
.hidden{
    display: none;
}
.tax-toggle{
    border: 1px solid rgb(194, 194, 194);
    border-radius: 1rem;
    height: 3.15rem;
    padding: 1rem;
    margin-left: 12rem;
    display: flex;
    align-items: center;
}

